// Utilities
.flow-content > * + * {
  margin-top: var(--flow-space, $spacer-200);
}

.flow-content--large {
  --flow-space: 3rem;
}

.container {
  padding: 0 $spacer-400;
  max-width: 70rem;
  margin: 0 auto;
}

.split {
  display: flex;
}
