// Home Page
body {
  background: $clr-primary-900;
}

.main {
  padding-top: $spacer-1000;
  padding-bottom: $spacer-1000;
  background: url("/assets/mobile/image-host.jpg") no-repeat;
  background-size: cover;
  background-position: top;
  height: 100vh;
  position: relative;
  text-align: center;
}

.main::before {
  content: "";
  background: $clr-primary-900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.9;
}
.main__bg-image {
  position: relative;
  z-index: 1;
  padding: $spacer-400;
}

.header {
  position: relative;
  z-index: 1;
  padding: $spacer-700 0;
  & img {
    margin-inline: auto;
  }
}

.cta {
  &__title {
    margin-bottom: $spacer-300;
    color: $clr-accent;
    font-size: $fs-heading;
    font-weight: $fw-thin;
    text-transform: uppercase;
    line-height: 120%;
    & span {
      color: $clr-white;
    }
  }
  &__description {
    font-weight: $fw-thin;
  }
  &__footer {
    display: flex;
    flex-direction: column-reverse;
    gap: $spacer-300;
  }
  &__logos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-between;
    gap: $spacer-200;
    margin-top: $spacer-300;
    & img {
      opacity: 0.5;
      max-height: $spacer-200;
    }
  }
}

@media (min-width: 40rem) {
  .main {
    background: url("https://mariosearchteam.github.io/fm-pod//assets/tablet/image-host.jpg")
      no-repeat;
    background-position: right top;
    text-align: left;
    &__bg-image {
      background: $clr-primary-900;
      max-width: 37rem;
      min-height: 70%;
      padding: $spacer-1000 $spacer-500 0;
    }
    &::before {
      opacity: 0;
    }
    &::after {
      position: absolute;
      content: url("https://mariosearchteam.github.io/fm-pod//assets/desktop/bg-pattern-dots.svg");
      top: 77%;
      right: 0;
    }
  }
  .header {
    & img {
      margin-left: $spacer-500;
    }
  }
  .cta {
    &__title {
      max-width: 12ch;
    }
    &__description {
      max-width: 40ch;
    }
    &__footer {
      flex-direction: column;
    }

    &__logos img {
      max-height: 2rem;
    }
  }
}

@media (min-width: 60rem) {
  .header {
    & img {
      margin-left: 10rem;
    }
  }
  .main {
    background: url("https://mariosearchteam.github.io/fm-pod//assets/desktop/image-host.jpg")
      no-repeat;
    background-position: right center;
    &__bg-image {
      max-width: 64rem;
      padding: $spacer-1300 10rem;
    }
  }
  .cta {
    &__title {
      max-width: 22ch;
    }
    &__description {
      max-width: 40ch;
    }
    &__logos {
      max-width: 33rem;
    }
    &__logos img {
      max-height: 2.5rem;
    }
  }
  .form {
    width: 28rem;
  }
}
