$spacer-50: 0.25rem;
$spacer-100: 0.5rem;
$spacer-150: 0.75rem;
$spacer-200: 1rem;
$spacer-300: 1.5rem;
$spacer-400: 2rem;
$spacer-500: 2.5rem;
$spacer-700: 3.5rem;
$spacer-800: 4rem;
$spacer-1000: 5rem;
$spacer-1100: 5.5rem;
$spacer-1300: 6.5rem;
